@charset "UTF-8";

body {
	font-family: 'Montserrat', sans-serif;
}

#title {
	background-color: #ff4c68;
	color: #fff;
	height: 100vh;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.5;
}

.container-fluid {
	padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
	padding: 0 0 4.5rem;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat";
	font-weight: 500;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}

/* Download Button */
.download-btn {
	margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
	width: 60%;
}

#main-image {
	text-align: center;
}

.btn-primary {
	margin-top: 10%;
	margin-bottom: 10%;
}

.contents {
	margin-top: 5%;
}

.login-form {
	width: 30rem;
	height: 30rem;
}

.gradient-custom-2 {
	/* fallback for old browsers */
	background: #fccb90;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(120deg, #f093fb 0%, #ff4c68 100%);
}

@media ( min-width : 768px) {
	.gradient-form {
		height: 100vh !important;
	}
}

@media ( min-width : 769px) {
	.gradient-custom-2 {
		border-top-right-radius: .3rem;
		border-bottom-right-radius: .3rem;
	}
}

/* makeResume.jsp */

#resume-body{
	padding: 5% 7%;
	text-align: center;
	background-color: #FEFCF3;
}

.resume-left {
	text-align: center;
	padding: 5% 7%;
	background-color: #FEFCF3;
}

.resume-right { text-align: center; background-color: #FEFCF3; }

p {display: inline-block;}

.contents-area { 
	text-align: left; 
	margin-bottom: 5%;
	padding: 3%;
}

.input-data{width: 100%; box-sizing: border-box;}

.col { padding: 0px; }

.fixed-right{ position:fixed; }

h4{ margin-bottom: 3% }