<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration scan="true" scanPeriod="30 seconds"> -->
<configuration>
	<!-- console에 찍을때 사용하는 appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{0}.%method\(%line\) :: %msg :: %n</pattern>
        </encoder>
    </appender>
 
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:\Dynamic_JS\CodeSpace\logging\pos.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:\Dynamic_JS\CodeSpace\logging\pos-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 몇일의 파일을 저장할건지 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{0}.%method\(%line\) :: %msg :: %n</Pattern>
        </encoder>
    </appender>
 
    <logger name="icia.js.changyong" level="info">
    	<appender-ref ref="Console"/>
    	<appender-ref ref="File"/>
    </logger>
    <!-- <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="DEBUG" /> -->
		<!-- client로부터 넘어오는 정보를 request에 담아주기 -->
		<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN" />
 
    <root level="WARN">
      <appender-ref ref="File"/>
    </root>
</configuration>
